* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato-400';
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-700';
    src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-900';
    src: url(./fonts/Lato-Black.ttf);
}

@font-face {
    font-family: 'Ubuntu-700' ;
    src: url(./fonts/Ubuntu-Bold.ttf);
}