.topbar {
    max-width: 1920px;
    min-height: 44px;
    // padding-left: 345px;
    // padding-right: 345px;
    display: flex;
    justify-content: center;
    background: rgba(30, 33, 44, 1);

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 195px;
        color: rgb(203, 197, 197);
    }
}

.number a {
    text-decoration: none;
    color:  rgb(203, 197, 197);
}

.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style-type: none;

    & li:hover {
        cursor: pointer;
        color: rgb(14, 188, 14);
    }
}

.choice {
    display: flex;
    justify-content: space-between;
    gap: 64px;

    &_lang {
        display: flex;
        gap: 12px;
    }

    &_account {
        display: flex;
        gap: 10px;

        & a {
            text-decoration: none;
            color:  rgb(203, 197, 197);
        }
    }
}

