* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato-400";
  src: url(./fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-700";
  src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato-900";
  src: url(./fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "Ubuntu-700";
  src: url(./fonts/Ubuntu-Bold.ttf);
}
header, main, footer {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.topbar {
  background: rgb(30, 33, 44);
}
.topbar_container {
  min-height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(203, 197, 197);
  font-family: Lato-400;
}

.number a {
  text-decoration: none;
  color: rgb(203, 197, 197);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style-type: none;
}
.nav ul li:hover {
  cursor: pointer;
  color: rgb(14, 188, 14);
}

.choice {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.choice_lang {
  display: flex;
  gap: 12px;
}
.choice_account {
  display: flex;
  gap: 10px;
}
.choice_account a {
  text-decoration: none;
  color: rgb(203, 197, 197);
}

.navigation {
  background: #FFF;
}
.navigation_container {
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 132px;
}

.left {
  display: flex;
  gap: 61px;
  align-items: center;
}

.logo img {
  width: 128px;
}

.left_nav ul {
  display: flex;
  gap: 40px;
  font-family: Lato-700;
  font-size: 16px;
  line-height: 26px;
  color: #424551;
}
.left_nav ul li:hover {
  color: #bec1cb;
}

.sale {
  color: red;
}

.right {
  display: flex;
  gap: 49px;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  width: 380px;
}
.search input {
  width: 100%;
  height: 44px;
  padding-left: 16px;
  padding-right: 46px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background: #FFF;
  font-size: 14px;
}
.search input::-moz-placeholder {
  color: rgb(154, 156, 165);
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
}
.search input:-ms-input-placeholder {
  color: rgb(154, 156, 165);
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
}
.search input::placeholder {
  color: rgb(154, 156, 165);
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
}
.search button {
  position: absolute;
  border: none;
  background: #FFF;
  top: 14px;
  right: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.shopping {
  display: flex;
  gap: 20px;
}
.shopping_heart, .shopping_carriage {
  display: flex;
  align-items: center;
  gap: 9px;
}
.shopping_heart button, .shopping_carriage button {
  border: none;
  background: none;
  cursor: pointer;
}

.heart_number {
  font-family: Lato-400;
  font-size: 16px;
  line-height: 26px;
}

.carriage_number {
  width: 23px;
  height: 20px;
  background: #83CEA4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 12px;
  line-height: 18px;
  font-family: Lato-900;
}

.vl {
  background: linear-gradient(#FFF, rgb(211, 209, 209), #FFF);
  width: 1px;
  height: 22px;
}

.offer {
  min-height: 34px;
  background: rgb(23, 105, 106);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.offer_content span {
  color: #FFF;
  font-family: Lato-900;
  font-size: 12px;
  line-height: 18px;
}
.offer_content a {
  font-family: Lato-400;
  font-size: 12px;
  line-height: 18px;
  color: #FFF;
}
.offer button {
  border: none;
  background: none;
}
.offer button img:hover {
  width: 8px;
  cursor: pointer;
}

.double {
  margin-bottom: 555px;
}

.menswear_photo {
  width: 100%;
  position: relative;
}
.menswear_photo img {
  width: 100%;
}
.menswear_photo button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #FFF;
  padding-left: 16px;
  padding-top: 18.5px;
  padding-right: 14px;
  padding-bottom: 18.5px;
}
.menswear_photo button:hover {
  cursor: pointer;
  background: rgb(245, 244, 241);
}
.menswear_photo button.button1 {
  position: absolute;
  top: 47%;
  left: 32px;
}
.menswear_photo button.button2 {
  position: absolute;
  top: 47%;
  right: 32px;
}

.belonging_position {
  position: relative;
}

.belonging {
  width: 1230px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -60px;
}
.belonging img {
  width: 100%;
  margin-bottom: 16px;
}
.belonging img:hover {
  cursor: pointer;
  opacity: 0.4;
}
.belonging p {
  text-align: center;
  font-family: Lato-700;
  font-size: 20px;
  line-height: 30px;
  color: #424551;
}
.belonging p:hover {
  cursor: pointer;
  color: #bec1cb;
}

.menswear_child_position {
  position: relative;
}

.menswear_child {
  width: 724px;
  position: absolute;
  top: -660px;
}
.menswear_child p {
  font-family: Lato-700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 12px;
  color: #1E212C;
}
.menswear_child h1 {
  font-family: Lato-900;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: 1px;
  font-style: normal;
  color: #1E212C;
  margin-bottom: 60px;
}
.menswear_child_buttons {
  margin-bottom: 235px;
}
.menswear_child_buttons button.button3 {
  width: 172px;
  height: 52px;
  font-family: Lato-700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #17696A;
  border-radius: 4px;
  border: 2px solid #17696A;
  background: none;
  margin-right: 14px;
}
.menswear_child_buttons button.button3:hover {
  cursor: pointer;
  background: #17696A;
  color: #FFF;
}
.menswear_child_buttons button.button4 {
  width: 229px;
  height: 52px;
  background: #17696A;
  color: #FFF;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  border: 2px solid #17696A;
}
.menswear_child_buttons button.button4:hover {
  cursor: pointer;
  background: none;
  color: #17696A;
}
.menswear_child_progress {
  display: flex;
  gap: 4px;
}

.progress {
  position: relative;
  width: 178px;
}
.progress progress {
  width: 178px;
  height: 0;
  border: 2px solid #8a8b91;
  border-radius: 4px;
}
.progress span {
  position: absolute;
  left: 0;
  bottom: 12px;
  font-family: Ubuntu-700;
  font-size: 28px;
  line-height: 42px;
  color: #8a8b91;
}
.progress:hover {
  cursor: pointer;
}

.progress1 {
  width: 178px;
  position: relative;
}
.progress1 progress {
  width: 178px;
  height: 0;
  border: 2px solid #424551;
  border-radius: 4px;
}
.progress1 span {
  font-family: Ubuntu-700;
  font-size: 28px;
  line-height: 42px;
  color: #424551;
  position: absolute;
  left: 0;
  bottom: 12px;
}

@media screen and (max-width: 1600px) {
  .menswear_child {
    top: -530px;
  }
  .menswear_child_buttons {
    margin-bottom: 135px;
  }
}
@media screen and (max-width: 1440px) {
  .double {
    margin-bottom: 455px;
  }
  .menswear_child_position {
    padding-left: 75px;
  }
  .menswear_child {
    top: -480px;
  }
  .menswear_child_buttons {
    margin-bottom: 135px;
  }
  .menswear_child p {
    font-size: 10px;
    line-height: 20px;
    margin-bottom: none;
  }
  .menswear_child h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .progress {
    width: 78px;
  }
  .progress progress {
    width: 78px;
  }
  .progress span {
    font-size: 20px;
    line-height: 35px;
  }
  .progress1 {
    width: 78px;
  }
  .progress1 progress {
    width: 78px;
  }
  .progress1 span {
    font-size: 20px;
    line-height: 35px;
  }
  .belonging_position {
    width: 920px;
  }
  .belonging {
    width: 920px;
  }
  .belonging img {
    width: 290px;
    margin-bottom: 16px;
  }
  .belonging p {
    text-align: center;
    font-family: Lato-700;
    font-size: 20px;
    line-height: 30px;
    color: #424551;
  }
}
.arrivals_content {
  margin-bottom: 60px;
}
.arrivals_content h3 {
  font-family: Lato-900;
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 24px;
}
.arrivals_content p, .arrivals_content a {
  font-family: Lato-400;
  font-size: 18px;
  line-height: 27px;
  color: #787A80;
  text-align: center;
  display: block;
}
.arrivals_content a {
  color: rgb(23, 105, 106);
}
.arrivals_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 96px;
}
.arrivals_progress {
  text-align: center;
  margin-bottom: 180px;
}
.arrivals_progress progress {
  width: 30px;
  height: 0;
  border: 3px solid #B3B7BC;
  border-radius: 3px;
  margin-right: 12px;
}
.arrivals_progress progress:not(:first-child):hover {
  cursor: pointer;
}
.arrivals_progress1 progress {
  border: 3px solid #424551;
}
.arrivals_progress2 {
  margin-right: 0px;
}

.arricard_img {
  width: 100%;
  margin-bottom: 16px;
}
.arricard_img:hover {
  cursor: -webkit-grab;
  cursor: grab;
  box-shadow: 0px 16px 44px 9px rgba(55, 64, 71, 0.2);
}

.arricard_image, .arricard_image_star, .arricard_image_star1 {
  position: relative;
}
.arricard_content {
  padding-left: 16px;
}
.arricard_content p {
  font-family: Lato-400;
  font-size: 18px;
  line-height: 27px;
  color: #424551;
  margin-bottom: 8px;
}
.arricard_content span {
  font-family: Lato-700;
  font-size: 20px;
  line-height: 26px;
  color: #1E212C;
}

.like {
  height: 32px;
  width: 32px;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px;
  bottom: 32px;
}
.like:hover {
  cursor: pointer;
  background: #d8dae2;
}

.star {
  position: absolute;
  top: 17px;
  right: 17px;
}

.bigcards {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 180px;
}
.bigcards p {
  font-family: Lato-700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 12px;
}
.bigcards h2 {
  font-family: Lato-900;
  font-size: 32px;
  line-height: 42px;
  color: #1E212C;
  margin-bottom: 40px;
}
.bigcards span {
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
  color: #1E212C;
}

button.transparent {
  padding-left: 32px;
  padding-right: 32px;
  background: none;
  font-size: Lato-700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #17696A;
  border: 2px solid #17696A;
  border-radius: 4px;
}
button.transparent img {
  margin-left: 10px;
}
button.transparent:hover {
  cursor: pointer;
  background: #17696A;
  color: #FFF;
}

.firstrow {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.firstrow img {
  width: 100%;
}

.sale70 {
  position: relative;
}
.sale70_content {
  position: absolute;
  top: 60px;
  left: 60px;
}

.sweaters {
  position: relative;
}
.sweaters_content {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 362px;
}
.sweaters_content button {
  margin-bottom: 79px;
}

.deadline_indication {
  width: 209px;
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: center;
}
.time h5 {
  font-family: Lato-700;
  font-size: 28px;
  line-height: 42px;
  color: #1E212C;
}

.secondrow {
  display: flex;
  gap: 16px;
}

.winter2023 {
  position: relative;
  width: 61%;
}
.winter2023 img.parcel_img {
  width: 100%;
}
.winter2023_content {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 317px;
}

.subscribers {
  width: 40%;
  max-height: 500px;
  padding-top: 120px;
  padding-left: 296px;
  background: #E5E8ED;
  border-radius: 4px;
  position: relative;
}
.subscribers img {
  width: 100%;
}
.subscribers_content {
  position: absolute;
  top: 60px;
  left: 60px;
  max-width: 391px;
}
.subscribers_content h2 {
  margin-bottom: 32px;
}
.subscribers_content span {
  color: #424551;
}

.inputline {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 360px;
  height: 44px;
  position: relative;
}
.inputline input {
  width: 100%;
  height: 100%;
  padding-right: 145px;
  padding-left: 16px;
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}
.inputline input::-moz-placeholder {
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
  color: #9A9CA5;
}
.inputline input:-ms-input-placeholder {
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
  color: #9A9CA5;
}
.inputline input::placeholder {
  font-family: Lato-400;
  font-size: 14px;
  line-height: 21px;
  color: #9A9CA5;
}
.inputline button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: Lato-700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: #17696A;
  border-radius: 0px 4px 4px 0px;
  border: 0px solid #17696A;
}

.categories h3 {
  font-family: Lato-900;
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 60px;
}/*# sourceMappingURL=style.css.map */